.event__container {
  background-color: royalblue;
  color: white;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.event__title {
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.event__title span {
  font-weight: 300;
}

.event__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__area {
  position: relative;
  min-width: 300px;
}

.input__area input,
.input__area select {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  outline: none;
  margin: 0.75rem 0;
  transition: all 0.3s ease;
}

.input__area input::placeholder {
  color: #333;
}

.input__area input:focus,
.input__area select:focus {
  border-radius: 1rem;
}

button {
  margin-top: 1rem;
  width: 90%;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  color: royalblue;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  border-radius: 1rem;
  border-color: white;
  background-color: royalblue;
  color: white;
}
